[build]
rustflags = [
  # Required to obtain backtraces (e.g. when using the "esp-backtrace" crate.)
  # NOTE: May negatively impact performance of produced code
  "-C", "force-frame-pointers",
]

# Select your specific chip target here
# esp32 c3
#target = "riscv32imc-unknown-none-elf"
# esp32 c6
#target = "riscv32imac-unknown-none-elf"

[target.riscv32imc-unknown-none-elf]
runner = "espflash flash --monitor --baud 115200"

[target.riscv32imac-unknown-none-elf]
runner = "espflash flash --monitor --baud 115200"

[unstable]
build-std = ["alloc", "core"]

[env]
SSID = "SSID"
PASSWORD_WIFI = "PASSWORD_WIFI"
PASSWORD_DEVICE = "PASSWORD_DEVICE"
STATIC_IP = "1.1.1.1"
